<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppName" value="元征分处理1" />
    <add key="AppId" value="1234" />

    <add key="DateCenterIP" value="127.0.0.1" />
    <add key="DateCenterPort" value="8296" />

    <add key="StatFileDir" value="E:\数据\元征\文件\信令2小时文件" />

    <add key="MsisdnSubscript" value="186*;185*;*0;*1;*2;*3;*4;*5;*6;*7;*8;*9;*9999;" />
    <add key="CgiSubscript" value="123,678;555,0;789,654;" />
    <add key="AreaCodeSubscript" value="531;530;" />
  </appSettings>
</configuration>